<h1> Add cat </h1>

<form action ="<%= cats_url %>" method = "POST" >
    <label for="cat_name">NAME</label>
    <input
    id = "cat_name"
    type = "text"
    name = "cat[name]"
    value="<%= @cat.name %>" >

    <label for="cat_birth_date">Birth</label>
    <input
    id = "cat_birth_date"
    type = "date"
    name = "cat[birth_date]"
    value ="<%= @cat.birth_date %>"

    <label for="cat_color">Color</label>
    <select name="cat[color]" id="cat_color">
    <option disabled selected>-- select a color --</option>
        <% Cat::CAT_COLOR.each do |color| %>
    <option
    <%= @cat.color == color ? "selected" : "" %>
    value="<%= color %>">
    <%= color %>
    </option>
    <%end%>
    </select>
    

<label for="cat_sex_male">Male</label>
<input
type = "radio"
name = "cat[sex]"
id = "cat_sex_male"
value="M"
 <%= @cat.sex == "M" ? "checked" : "" %> >


<label for="cat_sex_female">Female</label>
<input
type = "radio"
name = "cat[sex]"
id = "cat_sex_female"
value = "F"
<%= @cat.sex == "F" ? "checked" : "" %> >

<input type="submit" value="Create" />
</form>