<table border = "1">
<thead>
    <tr>
        <th colspan="4"><%=@cat.name%></th>
    </tr>
</thead>
<tbody>
<tr>
<td>attribute</td>  
<td>value</td>

</tr>
    <tr>
        <td><%=@cat.name%></td>  
        <td><%=@cat.birth_date%></td>
        <td><%=@cat.color%></td>
        <td><%=@cat.sex%></td>
    </tr>
</tbody>
</table>
